@using WebCuaToiASPNet.Models;
@model IEnumerable<SanPham>
@{
    ViewBag.Title = "ChiTietSanPham";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    IEnumerable<SanPham> ctsp = (IEnumerable<SanPham>)ViewBag.lstOneSp;
    IEnumerable<SanPham> spNoiBat = (IEnumerable<SanPham>)ViewBag.spNoiBat;
    WebCuaToiASPNet.Models.WebCuaTuASPDotNetEntities db = new WebCuaToiASPNet.Models.WebCuaTuASPDotNetEntities();

}

@section timkiemSP {
    <div class="search_bar">
        <form action="~/Home/TrangSanPham" method="get">
            <input placeholder="Tìm kiếm sản phẩm đi cu..." type="text" name="timKiemSP">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
}

<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="row">
        <div class="col-12">
            <div class="breadcrumb_content">
                <ul>
                    <li><a href="index.html">home</a></li>
                    <li><i class="fa fa-angle-right"></i></li>
                    <li>single product</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--product wrapper start-->
<div class="product_details sidebar">
    <div class="row">
        <div class="col-lg-3 col-md-12">
            <!--layere categorie"-->
            <div class="sidebar_widget shop_c sidebar">
                <div class="categorie__titile">
                    <h4>Categories</h4>
                </div>
                <div class="layere_categorie">
                    <ul>
                        @{
                            foreach (var item in db.TheLoaiSPs.ToList())
                            {
                                int soLuongSanPham = db.SanPhams.Count(s => s.IdLoaiSP == item.ID);
                                <li>
                                    <a href="~/Home/TrangPhanLoaiSPTheoLoai?idPL=@item.ID" style="font-size: 16px;">
                                        <label for="acces">
                                            <input type="hidden" name="idPL" value="@item.ID" />
                                            <span style="font-size: 16px;">@item.TenLoaiSP</span>
                                            <span style="font-size: 16px;">(@soLuongSanPham)</span>
                                        </label>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
            <!--layere categorie end-->
            <!--color area start-->
            
            <!--color area end-->
            <!--price slider start-->
            @*<div class="sidebar_widget price">
                <h2>Price</h2>
                <div class="ca_search_filters">

                    <input type="text" name="text" id="amount">
                    <div id="slider-range"></div>
                </div>
            </div>*@
            <!--price slider end-->
            <!--wishlist block start-->
            <div class="sidebar_widget wishlist mb-30">
                <div class="block_title">
                    <h3><a href="#">Wishlist</a></h3>
                </div>
                <div class="cart_item">
                    <div class="cart_img">
                        <a href="#"><img src="assets\img\cart\cart.jpg" alt=""></a>
                    </div>
                    <div class="cart_info">
                        <a href="#">lorem ipsum dolor</a>
                        <span class="cart_price">$115.00</span>
                        <span class="quantity">Qty: 1</span>
                    </div>
                    <div class="cart_remove">
                        <a title="Remove this item" href="#"><i class="fa fa-times-circle"></i></a>
                    </div>
                </div>
                <div class="cart_item">
                    <div class="cart_img">
                        <a href="#"><img src="assets\img\cart\cart2.jpg" alt=""></a>
                    </div>
                    <div class="cart_info">
                        <a href="#">Quisque ornare dui</a>
                        <span class="cart_price">$105.00</span>
                        <span class="quantity">Qty: 1</span>
                    </div>
                    <div class="cart_remove">
                        <a title="Remove this item" href="#"><i class="fa fa-times-circle"></i></a>
                    </div>
                </div>
                <div class="block_content">
                    <p>2  products</p>
                    <a href="#">» My wishlists</a>
                </div>
            </div>
            <!--wishlist block end-->
            <!--popular tags area-->
            <div class="sidebar_widget tags  mb-30">
                <div class="block_title">
                    <h3>popular tags</h3>
                </div>
                <div class="block_tags">
                    <a href="#">ipod</a>
                    <a href="#">sam sung</a>
                    <a href="#">apple</a>
                    <a href="#">iphone 5s</a>
                    <a href="#">superdrive</a>
                    <a href="#">shuffle</a>
                    <a href="#">nano</a>
                    <a href="#">iphone 4s</a>
                    <a href="#">canon</a>
                </div>
            </div>
            <!--popular tags end-->
            <!--newsletter block start-->
            <div class="sidebar_widget newsletter mb-30">
                <div class="block_title">
                    <h3>newsletter</h3>
                </div>
                <form action="#">
                    <p>Sign up for your newsletter</p>
                    <input placeholder="Your email address" type="text">
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <!--newsletter block end-->
            <!--special product start-->
            <div class="sidebar_widget special">
                <div class="block_title">
                    <h3>Special Products</h3>
                </div>
                <div class="special_product_inner mb-20">
                    <div class="special_p_thumb">
                        <a href="#"><img src="assets\img\cart\cart3.jpg" alt=""></a>
                    </div>
                    <div class="small_p_desc">
                        <div class="product_ratting">
                            <ul>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                            </ul>
                        </div>
                        <h3><a href="#">Lorem ipsum dolor</a></h3>
                        <div class="special_product_proce">
                            <span class="old_price">$124.58</span>
                            <span class="new_price">$118.35</span>
                        </div>
                    </div>
                </div>
                <div class="special_product_inner">
                    <div class="special_p_thumb">
                        <a href="#"><img src="assets\img\cart\cart18.jpg" alt=""></a>
                    </div>
                    <div class="small_p_desc">
                        <div class="product_ratting">
                            <ul>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                            </ul>
                        </div>
                        <h3><a href="#">Printed Summer</a></h3>
                        <div class="special_product_proce">
                            <span class="old_price">$124.58</span>
                            <span class="new_price">$118.35</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--special product end-->
        </div>
        <div class="col-lg-9 col-md-12">
            <div class="row">

                @Html.Partial("~/Views/ChiTietSanPham/ChiTietSPPartialView.cshtml", ctsp)


            </div>
            <!--product info end-->
            <!--Related Products area start-->
            @Html.Partial("~/Views/ChiTietSanPham/ChiTietSP_NoiBat_PartialView.cshtml", spNoiBat)
            <!--Related Products area end-->

        </div>

    </div>

</div>
<!--product details end-->
